@import '../scss/colors';
@import '../scss/mixins';
@import '../scss/media_quers';
@import '../scss/base';

/* header start */

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    padding: 30px 0;
    & .site-btn {
        --py: 12px;
    }
    &-logo {
        $width: 54px;
        width: $width;
        height: $width;
        display: block;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


/* header end */


/* banner start */

.banner {
    position: relative;
    z-index: 1;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding-top: 191px;
    padding-bottom: 70px;
    @include md {
        padding-top: 180px;
        padding-bottom: 50px;
    }
    @include sm {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 98.54%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    & .social-link {
        @include mmd {
            position: unset;
            top: 0;
            transform: translate(0, 0);
            text-align: left;
            margin-bottom: 20px;
        }
        & li {
            @include mmd {
                display: inline-flex;
                margin: 0;
                margin-right: 15px;
            }
        }
    }
    &-img {
        width: 430px;
        margin-left: auto;
        padding-bottom: 121%;
        @include img(cover);
        @include lg {
            width: 360px;
        }
        @include mmd {
            display: none;
        }
    }
    &-content {
        position: relative;
        z-index: 1;
        padding-bottom: 140px;
        @include lg {
            padding-bottom: 100px;
        }
        @include mmd {
            padding: 0
        }
        & h1 {
            @include font-52;
            @include gradientText;
            margin-bottom: 20px;
        }
        & p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 40px;
            color: #ffffff;
            margin-right: 14%;
            @include mmd {
                margin-bottom: 30px;
            }
            @include ssm {
                margin-right: 0;
            }
        }
        & a {
            min-width: 190px;
        }
        & .starone{
            position: absolute;
            right: 30px;
            top: -50px;
            @include mmd{
                bottom: 0;
            }
            animation: infinite-spinning 7s infinite linear;
            @keyframes infinite-spinning {
     
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(360deg);
                }
              }
        }
        & .startwo{
            position: absolute;
            right: 0;
            bottom: 140px;
            @include mmd{
                bottom: 0;
            }
            animation: fancy-spin 2000ms;
            animation-iteration-count: infinite;
            @keyframes fancy-spin {
                0% {
                  transform: scale(1);
                }
                25% {
                  transform: scale(1);
                }
                50% {
                  transform:scale(1.3);
                }
                75% {
                  transform: scale(1.3);
                }
                100% {
                  transform:scale(1);
                }
              }
        }
       
    }
}


/* banner end */


/* about stat */

.about {
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180.02deg, #381E14 0.02%, rgba(34, 33, 33, 0) 101.61%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    $margin: 70px;
    padding-bottom: $margin;
    margin-bottom: -$margin;
    &-content {
        padding-right: 10px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            width: 134px;
            height: 123px;
            background-image: url(../img/stars.svg);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 30px;
            opacity: .30;
        }
        & h3 {
            @include font-38;
            margin-bottom: 40px;
            padding-right: 100px;
            @include md {
                margin-bottom: 30px;
            }
            @include sm {
                margin-bottom: 24px;
            }
        }
        & ul {
            & li {
                --icon: 28px;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
                & .icon {
                    width: var(--icon);
                    flex: 0 0 auto;
                    padding-top: 3px;
                }
                & .content {
                    width: calc(100% - var(--icon));
                    flex: 0 0 auto;
                    padding-left: 15px;
                    & h5 {
                        @include font-25;
                        font-weight: 500;
                        margin-bottom: 20px;
                    }
                    & p {
                        & span {
                            color: rgba($color: $white, $alpha: .70);
                        }
                        & a {
                            @include gradientText;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    &-dates {
        position: relative;
        z-index: 1;
        padding-left: 20px;
        @include md {
            padding-left: 0;
            margin-top: 80px;
        }
        @include sm {
            padding: 0;
            margin-top: 50px;
        }
        &::before {
            --width: 100px;
            content: "";
            width: var(--width);
            height: var(--width);
            background-image: url(../img/star-blur.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            right: 40px;
            bottom: 100px;
            z-index: 0;
            filter: blur(4px);
            @include lg {
                right: 20px;
            }
        }
        & .left {
            width: calc(100% / 12 * 8);
            flex: 0 0 auto;
            @include sm {
                width: 100%;
            }
        }
        & .right {
            width: calc(100%/ 12 * 4);
            flex: 0 0 auto;
            padding: 20px;
            background-color: rgba($color: #4C2B1F, $alpha: .80);
            display: flex;
            flex-direction: column;
            border: 1px solid transparent;
            border-image: linear-gradient(35deg, $primary 0%, $secondary 98.2%) 20% round;
            border-left-width: 0;
            @include sm {
                width: 100%;
                border-left-width: 1px;
                border-top-width: 0;
            }
        }
        &-card {
            &:not(:last-child) {
                margin-bottom: 34px;
            }
            padding: 0 6px;
            & strong {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 6px;
            }
            & span {
                @include font-25;
                font-weight: 600;
                color: $white;
            }
        }
        & .site-btn {
            --py: 11px;
        }
    }
}

.calendar {
    &-container {
        width: 100%;
        border: 1px solid transparent;
        border-image: linear-gradient(35deg, $primary 0%, $secondary 98.2%) 20% round;
        background-color: #4D2B1F;
        &>.calendar {
            &-week {
                & .day {
                    background-color: #885418;
                }
            }
        }
    }
    &-header {
        @include flex;
        justify-content: space-between;
        padding: 15px 20px;
        background-color: rgba($color: #100F0E, $alpha: .60);
        background-blend-mode: multiply;
        text-align: center;
        & button {
            --width: 30px;
            width: var(--width);
            height: var(--width);
            flex: 0 0 auto;
            border-radius: 100%;
            @include flex;
            justify-content: center;
            color: $white;
            border-radius: 100%;
            padding: 0;
            @include gradient;
            border: none;
            display: none;
            &:hover {
                @include gradientHover;
            }
        }
        & .month {
            @include font-20;
            color: $white;
            font-weight: 700;
            width: 100%;
            // flex: 0 0 auto;
        }
    }
    &-week {
        @include flex;
        & .day {
            width: calc(100% / 7);
            flex: 0 0 auto;
            text-align: center;
            border: 1.5px solid transparent;
            border-image: linear-gradient(35deg, $primary 0%, $secondary 98.2%) 20% round;
            border-top-width: 0;
            border-left-width: 0;
            font-size: 16px;
            color: $white;
            padding: 17px 14px;
            @include sm {
                border-top-width: 1px;
            }
            &:last-child {
                border-right-width: 0;
            }
            &.selected,
            &.today {
                background: linear-gradient(103.67deg, #EAA954 0%, #D05438 98.2%);
            }
        }
    }
    &-wrap {
        & .calendar-week {
            & .day {
                font-weight: 700;
            }
            &:last-child {
                & .day {
                    border-bottom: none;
                    border-right-width: 1px;
                }
            }
        }
    }
}


/* about end */


/* invest start */

.invest {
    &-img {
        padding-right: 50px;
        position: relative;
        z-index: 1;
        @include ssm {
            padding: 0;
        }
        &::before,
        &::after {
            content: "";
            --width: 280px;
            width: var(--width);
            height: var(--width);
            border-radius: 100%;
            @include gradient;
            opacity: .3;
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
            filter: blur(165px);
        }
        &::after {
            top: auto;
            left: auto;
            bottom: 40px;
            right: 30px;
            transform: translateY(0%)
        }
    }
    &-content {
        @include md {
            margin-top: 80px;
        }
        @include sm {
            margin-top: 50px;
        }
        & h3 {
            @include font-48;
            margin-bottom: 30px;
            @include sm {
                margin-bottom: 20px;
            }
        }
        & p {
            font-size: 18px;
            line-height: calc(27px/18px);
            color: rgba($color: $white, $alpha: .65);
            @include sm {
                font-size: 16px;
            }
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        & .site-btn {
            margin-top: 40px;
            min-width: 174px;
        }
    }
}


/* invest end */


/* program start */

.program {
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        width: 258px;
        height: 223px;
        @include gradient;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: .3;
        border-radius: 100%;
        filter: blur(165px);
    }
    &-content {
        & h3 {
            @include font-34;
            margin-bottom: 30px;
            @include sm {
                margin-bottom: 24px;
            }
        }
        & ul {
            & li {
                position: relative;
                z-index: 1;
                padding-left: 38px;
                margin-bottom: 20px;
                &::before {
                    content: "";
                    $width: 18px;
                    width: $width;
                    height: $width;
                    border-radius: 3px;
                    @include gradient;
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
                & h4 {
                    @include font-20;
                    margin-bottom: 15px;
                    font-weight: 500;
                }
                & p {
                    color: rgba($color: $white, $alpha: .80);
                }
            }
        }
    }
    &-img {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            width: 100%;
            height: 174px;
            border-radius: 100%;
            @include gradient;
            position: absolute;
            right: 50px;
            bottom: 0;
            z-index: -1;
            filter: blur(300px);
        }
        &::after {
            content: "";
            width: 240px;
            height: 222px;
            border-radius: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            @include gradient;
            margin-top: -70px;
            filter: blur(200px);
        }
    }
}


/* program end */


/* community start */

.community {
    & .container {
        padding-top: 50px;
        padding-bottom: 100px;
        position: relative;
        z-index: 1;
        @include sm {
            padding-bottom: 80px;
        }
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 1000px 1000px 0px 0px;
            background: linear-gradient(180deg, rgba(228, 151, 78, 0.24) -17.49%, rgba(211, 92, 59, 0) 33.62%);
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            content: "";
            background-image: url(../img/stars.svg);
            background-size: contain;
            background-position: center;
            width: 134px;
            height: 111px;
            position: absolute;
            bottom: 100%;
            right: 0;
        }
    }
    &-social {
        position: relative;
        z-index: 1;
        @include sm {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        &::before {
            content: "";
            width: 100%;
            height: 175px;
            border-radius: 100%;
            @include gradient;
            opacity: .30;
            filter: blur(165px);
            position: absolute;
            left: 0;
            bottom: 0;
        }
        & li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 30px;
                @include sm {
                    margin-right: 0;
                }
            }
            @include sm {
                width: calc(50% - 10px);
                flex: 0 0 auto;
            }
            & a {
                $border: 1px;
                display: block;
                border: 1px solid #EAA954;
                border-radius: 10px;
                color: $white;
                padding: 10px 20px;
                position: relative;
                z-index: 1;
                overflow: hidden;
                text-align: center;
                width: 170px;
                height: 134px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: linear-gradient(103.67deg, transparent 0%, transparent 98.2%);
                @include md {
                    width: 150px;
                    height: 124px;
                }
                @include sm {
                    width: 100%;
                    height: 130px;
                }
                &:hover {
                    background: linear-gradient(103.67deg, rgba(234, 169, 84, 0.3) 0%, rgba(208, 84, 56, 0.3) 98.2%);
                }
                & svg {
                    display: block;
                    width: 36px;
                    height: 36px;
                    margin: 0 auto;
                }
                & span {
                    display: block;
                    margin-top: 15px;
                }
            }
        }
    }
}


/* community end */


/* footer start */

.footer {
    padding: 30px 0;
    background: linear-gradient(103.67deg, rgba(234, 169, 84, 0.15) 0%, rgba(208, 84, 56, 0.15) 98.2%);
    border-top: 1px solid #EAA954;
    
    @include md {
        padding: 20px 0;
    }
    @include sm {
        padding: 16px 0;
    }
    & .heading-logo {
        @include sm {
            margin: auto;
        }
    }
    & a {
        font-size: 14px;
        color: $white;
        &:hover {
            color: $primary;
        }
    }
    & p {
        font-size: 14px;
        color: #9F9F9F;
    }
    & .col-sm-4 {
        @include sm {
            text-align: center !important;
            margin-bottom: 20px;
        }
        &:last-child {
            margin: 0 !important;
        }
    }
}


/* footer end */